@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: #dedede;
    border-radius: 5em;
}

html{
    overflow-x: hidden;
}

[contentEditable=true]:empty:not(:focus):before {
    content:attr(data-placeholder)
}

*{
    transition: background .3s ease-in;
}

.container-app{
    width: 100vw;
    position: relative;
}

.sticky-header{
    position: sticky;
    top: 0;
    z-index: 30;
}

.main-section{
    margin-inline: calc(1vw*.5);
}

.text-2xs{
    font-size: 0.65rem;
    line-height: 0.75rem;
}
